/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ^ CSS RESET ^ */


/* GLOBAL */

body {
     /* padding: 5%; */
     /* display: flex; */
     color: #616161;
}

header {
     padding: 10px 0 100px 0;
}
/* can i chain these like with classes? */
h1 {
     font-family: "helvetica neue", sans-serif;
     font-weight: 100;
     font-size: 32px;
     color: #333;
     padding: 0 0 0 35px;
}

h2 {
     font-family: "helvetica neue", sans-serif;
     font-weight: 100;
     font-size: 32px;
     color: #818181;
     padding: 35px 35px 0 35px;
}

p {
     text-align: center;
     padding: 0 30px;
     font-family: "helvetica neue", sans-serif;
     font-size: 18px;
     font-weight: 200;
     line-height: 2.5em;
}

.startScreen {
     display: block;
}

#startButton {
     height: 50px;
     width: 200px;
     border: 0;
     border-radius: 15px 15px 15px 5px;
     font-size: 26px;
     padding: 0 0 5px 0;
     font-weight: 200;
     text-transform: lowercase;
}

#gameContainer {
     display: flex;
     flex-direction: column;
     padding: 5vh 0 0 0;
     width: 100vw;
     height: 90vh;
     margin: 0 auto;
}

#cpuContainer {
     /* background-color: lightcoral; */
     margin: 0 auto;
     width: 80vw;
     height: 33vh;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
}

#boxContainer {
     display: flex;
     /* background-color: yellowgreen; */
     height: 34vh
}

#box {
     /* background-color: gray; */
     width: 100px;
     height: 100px;
     margin: 0 auto;
     /* Relative sets a rule for child elements */
     position: relative;
}

#box .cat {
     /* Position all cats in the box absolutely, relative to the box parent */
     position: absolute;
     top: 0;
     /* transition: all 1s ease; */
     /* box-shadow: 1px 1px 1px rgba(0,0,0,.3); */
}

#box .cat:hover {
     top: -15px;
     transition: all 400ms ease;
}

#box:after {
     background-image: url("../images/box.png");
     content: '';
     height: 100px;
     width: 100px;
     display: block;
     position: absolute;
     right: 16px;
     top: 30px;
}

#pass {
     width: 80px;
     height: 45px;
     border: none;
     border-radius: 40% 40% 40% 10%;
     background-color: yellowgreen;
     color: beige;
     font-family: "helvetica neue", sans-serif;
     font-size: 18px;
     font-weight: 200;
     /* margin: 0 500px; */
}

#playerContainer {
     /* background-color: hotpink; */
     margin: 0 auto;
     width: 80vw;
     height: 33vh;
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
}

#house {
     margin: 0 auto;
     width: 90vw;
     /* height: 33vh; */
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
}
 

/* Cats */
.cat {
     /* padding: 5px; */
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100px;
     height: 100px;
     font-weight: 100;
     font-size: 18px;
     /* border-radius: 40%; */
     margin: -10px;
}

/* Moods */

/* The before pseudoselector will allow a second image to show over the background image. It is filled out with blank content so that it renders, and given a few properties for the face image */
.happy:before {
     background-image: url(../images/happy-face.png);
     content: '';
     display: block;
     width: 100%;
     height: 100%;
}

.neutral:before {
     background-image: url(../images/neutral-face.png);
     content: '';
     display: block;
     width: 100%;
     height: 100%;
}

.angery:before {
     background-image: url(../images/angery-face.png);
     content: '';
     display: block;
     width: 100%;
     height: 100%;
 }

.sleeping:before {
     background-image: url(../images/sleeping-face.png);
     content: '';
     display: block;
     width: 100%;
     height: 100%;
}

/* Colors */

.pink {
     background-image: url("../images/pink-fluff.png");
}

.orange {
     background-image: url("../images/orange-fluff.png");
}

.golden {
     background-image: url("../images/golden-fluff.png");
}

.green {
     background-image: url("../images/green-fluff.png");
}

.blue {
     background-image: url("../images/blue-fluff.png");
}

.purple {
     background-image: url("../images/purpur-fluff.png");
}

.soot {
     background-image: url("../images/soot-fluff.png");
}

.biscuits {
     background-image: url("../images/biscuits-fluff.png");
}

.ghost {
     background-image: url("../images/ghost-fluff.png");
}

/* MODALS */

.modal {
     background: linear-gradient(319deg, #faa499 0%, #f7dd85 37%, #ffc55c 100%);
     position: absolute;
     width: 90%;
     height: 87%;
     top: 10%;
     left: 5%;
     /* transition-timing-function: ease; */
     z-index: 1;
     border: none;
     border-radius: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
}

.modal.hide {
     display: none;
}


/* ANIMATIONS! */

/* RUBBERBAND */
@keyframes rubberband {
     0% {
       transform: scale3d(1, 1, 1);
     }
   
     30% {
       transform: scale3d(1.25, 0.75, 1);
     }
   
     40% {
       transform: scale3d(0.75, 1.25, 1);
     }
   
     50% {
       transform: scale3d(1.15, 0.85, 1);
     }
   
     65% {
       transform: scale3d(0.95, 1.05, 1);
     }
   
     75% {
       transform: scale3d(1.05, 0.95, 1);
     }
   
     100 {
       transform: scale3d(1, 1, 1);
     }
}

.rubberband {
     animation: rubberband 1.4s;
}

@keyframes shake {
     10%, 40% {
          transform: translate3d(1px, 0, 0);
     }

     20%, 80% {
          transform: translate3d(-2px, 0, 0);
     }
     
     30%, 50%, 70% {
          transform: translate3d(4px, 0, 0);
     }
     
     40%, 60% {
          transform: translate3d(-4px, 0, 0);
     }
}

.shake {
     animation: shake 1s;
}

/* Best Boing */

@keyframes boing { 
     0% {
       transform: scale(1) translateY(0); 
     }
     10% {
       transform: scale(1.2, 0.6); 
     }
     30% { 
       transform: scale(0.8, 1.1) translateY(-50px); 
     }
     50% { 
       transform: scale(1) translateY(0); 
     }
     100% { 
       transform: translateY(0); 
     }
   }

.boing {
     animation: boing 1.4s;
     animation-timing-function: ease;
}